$title-color: #1b1b1b;
$body-color: #333;
$bg-color: #fff;
$bg-color--alt: #f1f1f1;
$border-color: #ddd;
$search-btn-text-color: $bg-color;
$search-btn-bg-color: #53d453;
$search-btn-bg-color--light: #4fb94f;
$ruler-color: rgba(51, 51, 51, 0.1);
$box-shadow: 2px 1px 15px rgba(90, 90, 90, 0.3);

$europe: rgba(248, 212, 89, 0.5);
$africa: rgba(91, 118, 187, 0.5);
$americas: rgba(90, 128, 89, 0.5);
$asia: rgba(193, 87, 94, 0.5);
$oceania: rgba(154, 90, 180, 0.5);
$polar: rgba(50, 224, 255, 0.5);
