@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 50px;
  font-family: "Hammersmith One", sans-serif;
  background: #fff;
  color: #333;
}

h1,
h2 {
  color: #1b1b1b;
}

header {
  width: 100%;
  height: 50px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  list-style: none;
}
nav ul li {
  padding: 20px;
}
nav a {
  text-decoration: none;
  color: #333;
}
nav a.active {
  border-bottom: 3px solid #333;
}

.title {
  margin-top: 1em;
  font-size: 3em;
}

.globe {
  width: 300px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-container {
  max-width: 500px;
}

.static-container {
  width: 420px;
}

.search-container {
  display: flex;
  width: 100%;
}

.search-input,
.search-btn,
.response-box {
  box-shadow: 2px 1px 15px rgba(90, 90, 90, 0.3);
}

.search-input {
  width: 100%;
  border: 2px solid #ddd;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  padding: 0.5em 1em;
  margin-right: 0;
  background: #f1f1f1;
}

.search-btn {
  padding: 0.5em 1em;
  margin-left: 0;
  border: 2px solid #53d453;
  border-radius: 0 5px 5px 0;
  background: #53d453;
  color: #fff;
  text-transform: uppercase;
}
.search-btn:active {
  background: #4fb94f;
}

.response-box {
  width: 100%;
  background: #f1f1f1;
  padding: 1em 2em;
  margin: 2em;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.error-message {
  margin: 2em;
}

.title-container {
  display: flex;
}

.title-container * {
  margin: 1em;
}

.flag {
  width: 60px;
  height: 40px;
  border-radius: 2px;
}

.response-ruler {
  height: 1px;
  background: rgba(51, 51, 51, 0.1);
  border: 0;
}

.description-container {
  margin: 1em;
}

/*******
WORLD REGIONS
********/
.worldmap {
  max-width: 1000px;
}

.arrow-down {
  width: 4rem;
  height: 4rem;
  display: block;
  margin-top: -90px;
  color: #1b1b1b;
  cursor: pointer;
  -webkit-animation: move-down 500ms infinite alternate cubic-bezier(0.41, -0.42, 1, 1.97);
          animation: move-down 500ms infinite alternate cubic-bezier(0.41, -0.42, 1, 1.97);
}

@-webkit-keyframes move-down {
  50%, 100% {
    transform: translateY(10%);
  }
}

@keyframes move-down {
  50%, 100% {
    transform: translateY(10%);
  }
}
.country-container {
  width: 100%;
  margin: 3em;
  padding: 2em;
  font-size: 0.8rem;
  background: #f1f1f1;
  border: 1px solid #ddd;
}

.list {
  -moz-column-count: 3;
       column-count: 3;
}

.list li {
  padding: 10px 0 0 10px;
  display: flex;
  align-items: center;
}

.country-flag {
  width: 30px;
  height: 1em;
  margin-right: 10px;
}

.country-link {
  text-decoration: none;
  color: #333;
}
.country-link:hover {
  text-decoration: underline;
}

.europe {
  background: rgba(248, 212, 89, 0.5);
}

.africa {
  background: rgba(91, 118, 187, 0.5);
}

.americas {
  background: rgba(90, 128, 89, 0.5);
}

.asia {
  background: rgba(193, 87, 94, 0.5);
}

.oceania {
  background: rgba(154, 90, 180, 0.5);
}

.polar {
  background: rgba(50, 224, 255, 0.5);
}/*# sourceMappingURL=styles.css.map */